<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9a42a9da-b82b-42b1-8c8d-90628fcedb3e/resourceGroups/RTS-POC/providers/Microsoft.Web/sites/TollBoothFunctionAppwd2</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctionappwd2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>tollboothfunctionappwd2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TollBoothFunctionAppwd2</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TollBoothFunctionAppwd2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>